h1 {
        color:white;
}

p1 {
    color:blue;
}

p2 {
    color:black;
}

h3 {
    color:black;
}

p3 {
    color:red;
}

P3 {
    font-size:20px;
}

P2 {
    font-size:20px;
}

p1 {
    font-size:20px;
}
body  {
   background-image: url(https://s-media-cache-ak0.pinimg.com/originals/80/25/9b/80259b1ddd4f3002b293b48197a6f46c.jpg);
}