h1 {
        color:white;
}

p1 {
    color:green;
}

p2 {
    color:Yellow;
}

h3 {
    color:white;
}

p3 {
    color:red;
}

P3 {
    font-size:20px;
}

P2 {
    font-size:20px;
}

p1 {
    font-size:20px;
}